.rowBackgroundColor1{
    background-color: #00ffff;
}            
.rowBackgroundColor2{
    background-color: #0d99a5;
}
.selectedRow{
    background: blueviolet;
}
.selectedColumn{
    background: blueviolet;
}
.rowSelector{
    background-color: steelblue;
    width: 20px;
}
.columnSelector{
    background-color: steelblue;
    height: 15px;
}
